.cart-main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.cart-main-child{
  border: 1px solid black;
}
.cart-main {
  margin: 0 auto;
  max-width: 500px;
}

.cart-main-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-main-child > div {
  width: 25%;
  padding: 10px;
  border: 1px solid gray;
}

.cart-main-child > div > img {
  width: 100%;
}

.cart-main-child > div > p {
  margin-bottom: 5px;
}

.cart-main-child > div > input {
  width: 100%;
}

.cart-main-child > div > button {
  margin-top: 10px;
}

.summary {
  margin-top: 20px;
}

.summary > p {
  font-size: 18px;
  font-weight: bold;
}
